@{
    ViewBag.Title = "О нас";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>

<div class = "container-section">
    <h2 class="info-sections">О нас</h2>
    <p class = "text">Скоро...</p>
</div>

<div class="container-section">
    <h2 class = "info-sections">Наши услуги</h2>
    <div class="card-container">
        <div class="arrow left">&#10094;</div>
        
        <div class="card-wrapper">
            <div class="card">
                <img src="/images/card_1.jpg" alt="Card 1">
                <h3>Индивидуальные туры на заказ</h3>
                <p>
                    Мы разработаем уникальный маршрут, полностью отвечающий вашим предпочтениям: от планирования до сопровождения.
                    Варианты могут включать гастрономические туры, экскурсии по культурным достопримечательностям или активный отдых.
                </p>
            </div>
            <div class="card">
                <img src="/images/card_2.jpg" alt="Card 1">
                <h3>Групповые туры</h3>
                <p>
                    Присоединяйтесь к захватывающим путешествиям в компании единомышленников. Мы предлагаем туры в различные страны с профессиональными гидами.
                </p>
            </div>
            <div class="card">
                <img src="/images/card_3.jpg" alt="Card 1">
                <h3>Пляжные туры</h3>
                <p>
                    Лучшие пляжные направления мира с белоснежными песками и кристально чистой водой. Мы предложим вам незабываемый отдых
                    на курортах Средиземного моря, Мальдивских островов, Таиланда и других райских уголков.
                </p>
            </div>
            <div class="card">
                <img src="/images/card_4.jpg" alt="Card 1">
                <h3>Экскурсионные туры</h3>
                <p>
                    Откройте для себя культурные и исторические достопримечательности мира. Наши экскурсионные туры включают профессиональных гидов и тщательно
                    продуманные маршруты, которые оставят неизгладимые впечатления.
                </p>
            </div>
            <div class="card">
                <img src="/images/card_5.jpg" alt="Card 1">
                <h3>Аренда жилья и автомобилей</h3>
                <p>
                    Забронируйте комфортное жилье или автомобиль для самостоятельных путешествий. Мы сотрудничаем с крупнейшими платформами для аренды по всему миру.
                </p>
            </div>
            <div class="card">
                <img src="/images/card_6.jpg" alt="Card 1">
                <h3>Романтические путешествия и медовый месяц</h3>
                <p>
                    Мы поможем вам спланировать идеальное романтическое путешествие или медовый месяц в самых живописных уголках мира.
                </p>
            </div>
        </div>
        <div class="arrow right">&#10095;</div>
    </div>
</div>

<h2 class="info-sections">Контакты</h2>
<div class="container-row">
    <div class="row-item">
        <img class="item-img" src="~/images/icon_email.png" alt="" />
        <h2>Email</h2>
        <p>
            TTIiP@@mail.ru
        </p>
    </div>
    <div class="row-item">
        <img class="item-img" src="~/images/icon_phone.png" alt="" />
        <h2>Телефон</h2>
        <p>
            +(373) 777-77-777
        </p>
    </div>
    <div class="row-item">
        <img class="item-img" src="~/images/icon_address.png" alt="" />
        <h2>Адрес</h2>
        <p>
            Тираспольский техникум информатики и права
        </p>
    </div>
</div>

<div class="container-section">
    <h2 class="info-sections">Мы находимся</h2>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A50d9efd4d7c23db6e78f872e42de31db5da6b30bad47fe6498c078e5072e8787&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>




<script src = "~/js/home_script.js" asp-append-version="true"></script>
